*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
     background-image: url(../img/fondo.jpg);
     background-size: cover;
     font-family: sans-serif;
}

.box {
     width: 410px;
     background: rgba(153, 163, 164, 0.5);
     margin: 0 auto;
     margin-top: 4%;
     padding: 20px;
     color: black;
     text-align: center;
     border-radius: 10px;
}

.image-box {
	width: 150px;
	height: 200px;
	border-radius: 50%;
}

.box h1{
     font-size: 40px;
     letter-spacing: 4px;
     font-weight: 600px;
     margin-bottom: 10px;
}

.box h3{
     font-size: 25px;
     letter-spacing: 4px;
     font-weight: 400px;
     margin-bottom: 10px;
}

.box p{
     text-align: justify;
}

.box ul{
     list-style: none;
     margin-top: 12px;
}

.box ul li{
     display: inline-block;
}

.box ul li a{
     color: black;
     font-size: 30px;
     padding: 10px 8px;
     display: block;
     transition: all 0.7s ease-in-out;
}

.box ul li a:hover{
     color: blue;
     transform: scale(1.4);
}