*{
	margin: 0;
	padding: 0;
	font-family: Berlin Sans FB;
	box-sizing: border-box;
}


header{
	width: 100%;
	height: 50px;
	background: #BA0CA3;
}

.logo-title {
	display: flex;
}

.logo-title img{
	width: 70px;
	height: 50px;
	margin-left: 0px;
}

.menu {
	width: 100%;
	height: 50px;
    display: flex;
    perspective: 200px;
}
.menu ul {
	display: flex;
	margin: auto;
}

.menu li{
	list-style: none;
	padding: 15px 70px;
	color: white;
}

.menu li:hover{
	background: rgba(250, 58, 163 , 0.4);
	color: #A6385A;
	cursor: pointer;
	transition: all 300ms;
}


a {
	text-decoration: none;
}

.bigcontainer{
	width: 100%;;
	height: 609px;
	position: relative;
	background: ;
}

.container1{
	width: 450px;
	height: 400px;
	display: flex;
	background-color: #BA0CA3;
	margin-top: 90px;
	margin-left: 70px;
	position: absolute;
	box-shadow: 1px 22px 15px 12px #F15ADD ;
}
.container1 h1{
	font-size: 50px;
	color: white;
	text-align: center;
}

.container1 h2{
	color: white;
	text-align: center;
}

.container1 p{
	color: white;
	text-align: justify;
	padding: 20px;
	font-size: 18.13px;
}

.container2{
	width: 500px;
	height: 100px;
	display: flex;
	background: #F08FE3;
	position: absolute;
	margin-left: 540px;
	margin-top: 0px;
	box-shadow: 1px 22px 15px 12px #F15ADD ;
}

.container2 h1{
	font-size: 35px;
	color: #BA0CA3;
	text-align: center;
	padding: 25px;
}


.container2 p{
	color: #BA0CA3;
	font-size: 20px;
	text-align: justify;
	padding: 12px;
}


.container3{
	width: 500px;
	height: 100px;
	text-align: center;
	display: flex;
	background: #F08FE3;
	position: absolute;
	margin-left: 540px;
	margin-top: 150px;
	box-shadow: 1px 22px 15px 12px #F15ADD ;
}

.container3 h1{
	font-size: 35px;
	padding: 25px;
	color: #BA0CA3;
}

.container3 p{
	font-size: 20px;
	color:#BA0CA3;
}

.container4{
	width: 500px;
	height: 100px;
	display: flex;
	background: #F08FE3;
	position: absolute;
	margin-left: 540px;
	margin-top: 300px;
	box-shadow: 1px 22px 15px 12px #F15ADD ;
}

.container4 h1{
	font-size: 35px;
	padding: 25px;
	color: #BA0CA3;
}

.container4 p{
	font-size: 20px;
	margin-top: 20px;
	color: #BA0CA3;
}
.footer-copy-redes{
	width: 100%;
	height: 50px;
	background:#BA0CA3;
	padding: 4px 0px;
	border-top: 4px solid white;
}

.main-copy-redes{
	width: 97%;
	max-width: 1000px;
	padding: 5px 0px;
	margin: auto;
	margin-top: 0px;
	display: flex;
	flex-wrap:wrap ;
	justify-content: space-between;
	align-items:center ;
	color: white;
	font-size: 12px;
}

.main-copy-redes .footer-copy{
	width: 100%;
	text-align: center;
}

.main-copy-redes .footer-redes{
	width: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-redes a{
	display: inline-block;
	text-decoration: none;
	height: 22px;
	width: 22px;
	line-height: 22px;
	border-radius: 50%;
	background: white;
	color: #BA0CA3;
	text-align: center;
}